<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Movie Recommendation Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome To Movie Recommendation Engine</h1>
        <p>Discover your favorite movie!</p>
        <form action="{{ url_for('select_star') }}" method="post">
            <input type="submit" value="Let's go">
        </form>
        <img src="{{ url_for('static', filename='image.jpg.jpg') }}" alt="Movie Recommendation Engine Image">
    </div>
</body>
</html>
